/* RESET
--------------------------------------------------*/
html, body, isi-body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

html, body, isi-body { /*height: 100%;*/  background: #ddd; position:relative; }
.book { margin: 0 auto; max-width:954px; box-shadow: 0 0 10px rgba(0,0,0,.1); }
.book, .section { height: 500px; }
.section { height: 100%; }
.section { position: absolute; top: 0; left:0; width: 100%; -webkit-transform-style: preserve-3d; -webkit-user-select: none; -webkit-backface-visibility: hidden; }

.book { -webkit-perspective: 2000px; display: block; position: relative;-webkit-transform-style: preserve-3d; -webkit-user-select: none; -webkit-backface-visibility: hidden; }

.content { position: absolute; }

.front, .back { width: 50%; height: 100%; float: left; position: relative; overflow: hidden; cursor: pointer; background: white; -webkit-transform-style: preserve-3d; -webkit-user-select: none; -webkit-backface-visibility: hidden; }

.front .content { right: 0; }
.back .content { left: 0; }

.front { -webkit-transform: rotateY(0deg); -webkit-transform-origin: left center; }
.back { -webkit-transform-origin: right center; }

#pagination       { z-index:999; opacity:0; position:absolute; padding:8px 10px; background:rgba(30,30,30,0.7); bottom:60px; right:20px; color:#fff;
                  -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; border-radius:4px;
                  font:300 13px/13px 'source_sans_prolight', sans-serif; } 

#swipe            { z-index:999; opacity:0; position:absolute; width:100; height:36px; padding:0 10px; bottom:60px; right:20px; overflow:hidden;
                  -webkit-border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; border-radius:4px; }
.swipeIcon        { margin:4px 0 0 6px; width:100px; height:36px; background:url(../images/swipeIcon.png); background-size:cover; float:right; }

#pagination p       { margin-top:20px; }
#pagination .bold   { font:300 13px/13px 'source_sans_probold', sans-serif; }

.back .overlay {
  display:block;
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  opacity:0;
  z-index:2;
}

.front .overlay {
  display:block;
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  right:0;
  opacity:0;
  z-index:2;
}

@font-face {
  font-family: UniversCon;
  src: url(../fonts/UniversLtCon.otf);
  font-weight: 300;
}
@font-face {
  font-family: UniversCon;
  src: url(../fonts/UniversCon.ttf);
  font-weight: normal;
}
@font-face {
  font-family: UniversCon;
  src: url(../fonts/UniversConBd.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Univers;
  src: url(../fonts/UniversBd.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Conduit;
  src: url(../fonts/ConduitReg.otf);
  font-weight: 400;
}
@font-face {
  font-family: Conduit;
  src: url(../fonts/ConduitBd.otf);
  font-weight: 700;
}
@font-face {
  font-family: Conduit;
  src: url(../fonts/ConduitBl.otf);
  font-weight: 900;
}

html, body, isi-body { max-width: 954px; }
.page { margin-bottom: 20px; overflow:hidden; height: 500px; background: #fff; position: relative; }

.body h3 { color: #61116a; font: 700 30px/34px 'Conduit', sans-serif; position: relative; left: 30px; margin-top: 20px; }
.body h3.center { text-align: center; left: 0; font: 700 18px/20px 'Conduit', sans-serif; }

.orange-dot { width: 644px; height: 4px; background-image: url(../images/orange-dot.png); background-size: 7px 4px; background-repeat: repeat; margin-top: 105px; }
.orange-dot.top { width: 100%; margin-top: 14px; margin-bottom: 25px; }
.orange-dot.bottom { width: 100%; margin-bottom: 20px; margin-top: 25px; }

p.bull-align { position: relative; padding-left: 8px; color: #444; margin-bottom: 2px; }
p.bull-indent { position: relative; padding-left: 27px; color: #444; margin-bottom: 2px; }
p.bull-align .bull { color: #ed7120; position: absolute; left: 0; }
p.bull-indent .bull { color: #ed7120; position: absolute; left: 17px; }

.devices { width: 136px; height: 69px; background-image: url(../images/devices.png); background-size: 136px 69px; margin: 0 auto; }
.devices.center { margin-left: 418px; }

h6.copy { font: 9px/12px 'Univers', sans-serif; position: absolute; bottom: 25px; left: 30px; }

.astra { width: 150px; height: 58px; background-image: url(../images/astra.png); background-size: 150px 58px; position: absolute; bottom: 10px; right: 15px; }

.w450 { width: 450px; margin-left: auto; margin-right: auto; font: 12px/15px 'UniversCon', sans-serif; color: #444; margin-bottom: 10px; }

/* PAGE 1 */
.header { width: 100%; height: 85px; font: 700 18px/21px 'UniversCon'; color:#ffffff; padding: 22px 0 0 26px; position: relative; }
.coverbrilinta { width: 150px; height: 41px; position: absolute; right: 26px; top: 18px; }
.coverpharma { width: 170px; height: 394px; position: absolute; right: 140px; top: 54px; z-index: 2; }
.coverpurple { padding: 25px; width: 100%; height: 140px; background-image: url(../images/coverpurple.png); background-repeat: no-repeat; background-size: 954px 140px; position: absolute; bottom: 0; left: 0; }
.coverpurple h3 { font: 23px/23px Arial,sans-serif; color: #ffffff; margin-bottom: 20px; position: relative; }

.cover { padding-left: 26px; }
.cover h1 { font: 700 24px/34px 'UniversCon',sans-serif; color: #ed7120; margin-top: 116px; }
.cover h2 { font: 900 30px/30px 'Conduit',sans-serif; color: #61116a; }

/* PAGE 2 */
.tabs { width: 100%; height: 65px; background: #61116a; overflow: hidden; padding: 0 20px; }
.tab { float: left; text-align: center; color: #ffffff; font: 16px/18px 'UniversCon',sans-serif; background-color: #712979; border-radius: 3px 3px 0 0; margin: 7px 9px 0; padding: 10px; height: 58px; cursor: pointer; }
.tab.selected { background: #ffffff; box-shadow: 0 0 4px #000000; color: #ed7120; }
.tab.w110 { width: 60px; margin-right: 8px !important; padding-top: 20px !important; }
.tab.w170 { width: 122px; margin-right: 8px !important; }
.tab.w172 { width: 172px; }
.tab.w188 { width: 155px; }
.tab.w178 { width: 117px; }
.tab.w155 { width: 171px; }

.day, .one { font: 700 24px/24px 'Conduit',sans-serif; color: #ed7120; }
.one { font-size: 45px !important; }
.vertical { width: 1px; height: 35px; background-color: #ed7120; display: inline-block; margin: 0 10px; position: relative; top: 3px; }
.goto { font: 900 24px/24px 'Conduit',sans-serif; color: #61116a; }
h1.fill { font: 700 24px/24px 'UniversCon',sans-serif; margin-top:20px; }
.page2 { width: 296px; height: 120px; margin-top: 20px; margin-bottom: 20px; }

/* PAGE 3 */
.disclaimer { font-size: 10px !important; }
.learn-more { width: 181px; height: 40px; }
.onemonth { width: 292px; height: 280px; margin-left: 72px; margin-top: 42px; }

/* PAGE 4 */
.artery1 { width: 390px; height: 120px; }
.artery2 { width: 425px; height: 118px; }
.artery3 { width: 425px; height: 177px; }
.artery3text { width: 430px; height: 64px; margin: -60px 0 0 -2px;  }

/* PAGE 5 */
.with-brilinta { width: 432px; height: 153px; background-image: url(../images/with-brilinta.png); background-size: 432px 153px; }
.orange-down-arrow { background-image: url(../images/orange-down-arrow.png); background-size: 102px 68px; background-repeat: no-repeat; font: 900 18px/18px 'Conduit', sans-serif; color: #ed7120; padding: 0 0 12px 120px; margin: 12px 0; }
.w430 { width: 430px; }
.brilinta { width: 150px; height: 41px; background-image: url(../images/brilinta-purple.png); background-size: 150px 41px; position: absolute; right: 26px; bottom: 15px; }

/* PAGE 6 */
.pillslarge, .doctor { width: 33px; height: 33px; background-size: 33px 33px; position: absolute; top: 0; left: 0; }
.pillslarge { background-image: url(../images/pillsl.png); }
.doctor { background-image: url(../images/doctor.png); }

/* PAGE 7 */
.tablets { width: 244px; height: 173px; background-size: 244px 173px; background-image: url(../images/tablets.png); }
.pillbottle { width: 21px; height: 38px; background-size: 21px 38px; background-image: url(../images/pillbottle.png); position: absolute; top: 0; left: 0; }

/* PAGE 8 */
.warning { width: 27px; height: 27px; background-size: 27px 27px; background-image: url(../images/warning.png); position: absolute; left: 0px; top: -4px; }

/* PAGE 9 */
.calsmall { width: 25px; height: 25px; position: absolute; left: 0; }
.phonesmall { width: 22px; height: 40px; position: absolute; left: 2px; top: -7px; }
.card { width: 218px; height: 198px; position: absolute; right: 16px; top: 105px; }
.savings { width: 168px; height: 41px; }

h2 { font: 900 21px/21px 'Conduit', sans-serif; }
h6 { font: 700 15px/18px 'UniversCon', sans-serif; color: #61116a; margin-bottom: 2px; }
h6.orange { font-size: 15px !important; }
p { font: 12px/15px 'UniversCon', sans-serif; color: #444; margin-bottom: 10px; }

.purple-bkg { background-color: #61116a; }

/* TYPOGRAPHY */
.bold { font-weight: 700 !important; }
.italic { font-style: italic !important; }
.grey { color: #666666 !important; }
.purple { color: #61116a !important; }
.orange { color: #ed7120 !important; }
.white { color: #ffffff !important; }
.lightgrey { color: #8c8c8c; }
.bold-isi { font-weight: 700 !important; position:absolute; left: 10px; top: 447px; z-index: 0;}
.left-column { padding: 30px 10px 0 30px; float: left; width: 48%; }
.right-column { padding: 30px; float: left; width: 52%; }

/* POSITIONING */
.mb-6 { margin-bottom: 6px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-20 { margin-bottom: 20px !important; }
.mb-35 { margin-bottom: 35px !important; }
.mb-146 { margin-bottom: 146px !important; }
.mb-110 { margin-bottom: 110px !important; }
.mb-150 { margin-bottom: 150px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-30 { margin-top: 30px !important; }
.mt-43 { margin-top: 43px !important; }
.mt-62 { margin-top: 62px !important; }
.mt-90 { margin-top:90px !important; }
.mt-105 { margin-top: 105px !important; }
.mt-140 { margin-top: 140px !important; }
.pl-40 { padding-left: 40px; position: relative; }
.pl-50 { padding-left: 50px; position: relative; }
.pt-20 { padding-top: 20px !important; }

/* ISI */
.isi-body { margin: 15px 40px 0 29px; }
h6.isi { font: 700 15px/18px 'UniversCon', sans-serif; color: #61116a; }
p.bull-align { position: relative; padding-left: 8px; color: #444; margin-bottom: 2px; }
p.bull-indent { position: relative; padding-left: 27px; color: #444; margin-bottom: 2px; }
p.bull-align .bull { color: #ed7120; position: absolute; left: 0; }
p.bull-indent .bull { color: #ed7120; position: absolute; left: 17px; }

p.bull-align .bull-grey { color: #444; font-weight: 700 !important; position: absolute; right: 880px; top:0px; }

ul { font: 12px/15px 'UniversCon', sans-serif; color: #444; margin-right: 10px;}
p.ul { font: 12px/15px 'UniversCon', sans-serif; color: #444; margin-bottom: 0px;}

.mr-3 { margin-right: 3px !important; }
.mt-neg10 { margin-top: -10px !important; }
